/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/


body {
  font-family: Quicksand, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf) fixed;
}

h1 {
  color: #ffffff;
  margin: 4px 2px;
}

h2 {
  color: #ffffff;
  text-align: center;
}

h3 {
  color: #ffffff;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0px;
}

.formcontainer {
  background-color: #ffffff;
  width: 90%;
  padding: 12px 12px;
  margin: 0 auto;
  display: inline-block;
  border: 1px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;  
}

.login-submit-button {
    height: 23px;
    width: 150px;
    border: 1px;
    border-radius: 4px;
    background-color: #134d71;
    color: #ffffff;
    padding: 2px 15px 2px 15px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #447697;
  }
  
.hidden {
    display: none;
  }

.choose-message {
background-color: #ffffff;
padding: 10px 10px 2px 10px;
margin-bottom: 90px;
width: 415px;
height: 67px;
display: flex;
flex-direction: column;
text-align: center;
align-content: center; 
justify-content: center;
border: 1px;
border-radius:9px;
  
}
.radio-button-line {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  
}
.radio-button1 {
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1px 1px 1px 20px;
  width: 500px; */
}

.radio-button2 {
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 1px 20px 1px 1px;
  width: 500px; */
}


button {
  height: 23px;
  width: 150px;
  border: 1px;
  border-radius:4px;
  background-color: #134d71;
  color: #ffffff;
  padding: 3px 15px 2px 15px;
  
  margin: 0 auto;
  margin-top: 18px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
    background-color: #447697;
  }

.display-image {
  background-color: #ffffff;
  height: 85px;
  width: 670px;
  border: 1px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centering y-axis */
  align-items: center; /* Centering x-axis */
  padding: 20px;
  }

  img {
    width: 60px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  p {
  font-family: Quicksand, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  }


  
  
/* 
.buttonMessage {
  background-color: #134d71;
  color: #ffffff;
  border: none;
}

.buttonMessage:hover {
  background-color: #78a7c6;
  color: white;
} */

